body{
    margin: 0px;
    font-family: 'Lora',sans-serif;
}
header{
    background-color: #DDD0D1;
    height: 350px;
}
aside{
    width: 35%;
    background-color: #B39E9F;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 16px;
    position: absolute;
    top: 0px;
    color: white
}
#profile-pic{
    border-radius: 50%;
    border: 3px solid white;
    width: 75%;
    margin-bottom: 100px;
}
#profile{
    margin: 0px 30px 30px 30px;
}
/* giving same effect to svg logo */
#contact i,#contact #git-logo{
    margin-top: 10px;
}

#name{
    width: fit-content;
    position: relative;
    left: 45%;
    top: 70%;
}

main{
    margin-left: 300px;
}

/* education table */
td,th{
    border: 2px solid black;
}

